In [1]:
import pandas as pd
from pandas.core.frame import DataFrame

In [4]:
# Creating df from an empty l_d
# l_d_empty = []
l_d_empty = [{'id': None}]
df_empty = pd.DataFrame(l_d_empty)

In [9]:
df_empty

     id
0  None

In [10]:
df_empty1 = DataFrame(l_d_empty)

In [11]:
df_empty1

     id
0  None

In [12]:
df_empty['indexcol'] = df_empty['id']

In [13]:
df_empty1['indexcol'] = df_empty1['id']

In [14]:
df_empty

     id indexcol
0  None     None

In [15]:
df_empty1

     id indexcol
0  None     None

In [16]:
df_empty.set_index('indexcol', inplace=True)

In [17]:
df_empty1.set_index('indexcol', inplace=True)

In [18]:
df_empty

            id
indexcol
NaN       None

In [19]:
df_empty1

            id
indexcol
NaN       None

In [3]:
l_d_ne = [{'id': u'20171005,43,1'}, {'id': u'20171005,36,1'}, {'id': u'20171005,36,2'}, {'id': u'20171005,36,3'}, {'id': u'20171005,36,4'}, {'id': u'20171005,36,5'}, {'id': u'20171005,30,1'}, {'id': u'20171005,30,2'}, {'id': u'20171005,30,3'}, {'id': u'20171005,30,4'}, {'id': u'20171005,30,5'}, {'id': u'20171005,30,6'}, {'id': u'20171005,30,7'}, {'id': u'20171005,29,1'}, {'id': u'20171005,29,2'}, {'id': u'20171005,25,1'}, {'id': u'20171005,25,2'}, {'id': u'20171005,25,3'}, {'id': u'20171005,25,4'}, {'id': u'20171005,25,5'}, {'id': u'20171005,20,1'}, {'id': u'20171005,20,2'}, {'id': u'20171005,20,3'}, {'id': u'20171005,20,4'}, {'id': u'20171005,20,5'}, {'id': u'20171005,20,6'}, {'id': u'20171005,19,1'}, {'id': u'20171005,18,1'}, {'id': u'20171005,15,1'}, {'id': u'20171005,15,2'}, {'id': u'20171005,15,3'}, {'id': u'20171005,3,1'}, {'id': u'20171005,3,2'}, {'id': u'20171005,3,3'}, {'id': u'20171005,3,4'}, {'id': u'20171005,3,5'}, {'id': u'20171005,3,6'}, {'id': u'20171005,3,7'}, {'id': u'20171005,1,1'}, {'id': u'20171005,1,2'}, {'id': u'20171004,117,2'}, {'id': u'20171004,117,3'}, {'id': u'20171004,117,4'}, {'id': u'20171004,117,5'}, {'id': u'20171004,117,6'}, {'id': u'20171004,117,7'}, {'id': u'20171004,117,8'}, {'id': u'20171004,117,9'}, {'id': u'20171004,117,10'}, {'id': u'20171004,117,11'}, {'id': u'20171004,117,12'}, {'id': u'20171004,117,13'}, {'id': u'20171004,117,14'}, {'id': u'20171004,117,15'}, {'id': u'20171004,117,1'}, {'id': u'20171004,117,16'}, {'id': u'20171004,116,1'}, {'id': u'20171004,115,1'}, {'id': u'20171004,114,1'}, {'id': u'20171004,113,1'}, {'id': u'20171004,112,1'}, {'id': u'20171004,111,1'}, {'id': u'20171004,110,1'}, {'id': u'20171004,109,1'}, {'id': u'20171004,108,1'}, {'id': u'20171004,107,1'}, {'id': u'20171004,106,1'}, {'id': u'20171004,105,1'}, {'id': u'20171004,104,1'}, {'id': u'20171004,103,1'}, {'id': u'20171004,59,1'}, {'id': u'20171004,59,2'}, {'id': u'20171004,59,3'}, {'id': u'20171004,59,4'}, {'id': u'20171004,59,5'}, {'id': u'20171004,58,1'}, {'id': u'20171004,58,2'}, {'id': u'20171004,50,1'}, {'id': u'20171004,50,2'}, {'id': u'20171004,50,3'}, {'id': u'20171004,49,1'}, {'id': u'20171004,49,2'}, {'id': u'20171004,46,1'}, {'id': u'20171004,46,2'}, {'id': u'20171004,45,1'}, {'id': u'20171004,45,2'}, {'id': u'20171004,40,1'}, {'id': u'20171004,40,2'}, {'id': u'20171004,40,3'}, {'id': u'20171004,40,4'}, {'id': u'20171004,40,5'}, {'id': u'20171004,35,1'}, {'id': u'20171004,35,2'}, {'id': u'20171004,35,3'}, {'id': u'20171004,35,4'}, {'id': u'20171004,35,5'}, {'id': u'20171004,34,1'}, {'id': u'20171004,34,2'}, {'id': u'20171004,33,1'}, {'id': u'20171004,33,2'}, {'id': u'20171004,32,1'}, {'id': u'20171004,32,2'}, {'id': u'20171004,29,1'}, {'id': u'20171004,29,2'}, {'id': u'20171004,28,1'}, {'id': u'20171004,27,1'}, {'id': u'20171004,22,1'}, {'id': u'20171004,22,2'}, {'id': u'20171004,22,3'}, {'id': u'20171004,22,4'}, {'id': u'20171004,22,5'}, {'id': u'20171004,22,6'}]
df_ne = DataFrame(l_d_ne)
df_ne

                id
0    20171005,43,1
1    20171005,36,1
2    20171005,36,2
3    20171005,36,3
4    20171005,36,4
5    20171005,36,5
6    20171005,30,1
7    20171005,30,2
8    20171005,30,3
9    20171005,30,4
10   20171005,30,5
11   20171005,30,6
12   20171005,30,7
13   20171005,29,1
14   20171005,29,2
15   20171005,25,1
16   20171005,25,2
17   20171005,25,3
18   20171005,25,4
19   20171005,25,5
20   20171005,20,1
21   20171005,20,2
22   20171005,20,3
23   20171005,20,4
24   20171005,20,5
25   20171005,20,6
26   20171005,19,1
27   20171005,18,1
28   20171005,15,1
29   20171005,15,2
..             ...
82   20171004,46,1
83   20171004,46,2
84   20171004,45,1
85   20171004,45,2
86   20171004,40,1
87   20171004,40,2
88   20171004,40,3
89   20171004,40,4
90   20171004,40,5
91   20171004,35,1
92   20171004,35,2
93   20171004,35,3
94   20171004,35,4
95   20171004,35,5
96   20171004,34,1
97   20171004,34,2
98   20171004,33,1
99   20171004,33,2
100  20171004,32,1
101  20171004,32,2
102  20171004,29,1
103  20171004,29,2
104  20171004,28,1
105  20171004,27,1
106  20171004,22,1
107  20171004,22,2
108  20171004,22,3
109  20171004,22,4
110  20171004,22,5
111  20171004,22,6

[112 rows x 1 columns]

In [5]:
df_ne['indexcol'] = df_ne['id']
df_ne.set_index('indexcol', inplace=True)
df_ne

                          id
indexcol
20171005,43,1  20171005,43,1
20171005,36,1  20171005,36,1
20171005,36,2  20171005,36,2
20171005,36,3  20171005,36,3
20171005,36,4  20171005,36,4
20171005,36,5  20171005,36,5
20171005,30,1  20171005,30,1
20171005,30,2  20171005,30,2
20171005,30,3  20171005,30,3
20171005,30,4  20171005,30,4
20171005,30,5  20171005,30,5
20171005,30,6  20171005,30,6
20171005,30,7  20171005,30,7
20171005,29,1  20171005,29,1
20171005,29,2  20171005,29,2
20171005,25,1  20171005,25,1
20171005,25,2  20171005,25,2
20171005,25,3  20171005,25,3
20171005,25,4  20171005,25,4
20171005,25,5  20171005,25,5
20171005,20,1  20171005,20,1
20171005,20,2  20171005,20,2
20171005,20,3  20171005,20,3
20171005,20,4  20171005,20,4
20171005,20,5  20171005,20,5
20171005,20,6  20171005,20,6
20171005,19,1  20171005,19,1
20171005,18,1  20171005,18,1
20171005,15,1  20171005,15,1
20171005,15,2  20171005,15,2
...                      ...
20171004,46,1  20171004,46,1
20171004,46,2  20171004,46,2
20171004,45,1  20171004,45,1
20171004,45,2  20171004,45,2
20171004,40,1  20171004,40,1
20171004,40,2  20171004,40,2
20171004,40,3  20171004,40,3
20171004,40,4  20171004,40,4
20171004,40,5  20171004,40,5
20171004,35,1  20171004,35,1
20171004,35,2  20171004,35,2
20171004,35,3  20171004,35,3
20171004,35,4  20171004,35,4
20171004,35,5  20171004,35,5
20171004,34,1  20171004,34,1
20171004,34,2  20171004,34,2
20171004,33,1  20171004,33,1
20171004,33,2  20171004,33,2
20171004,32,1  20171004,32,1
20171004,32,2  20171004,32,2
20171004,29,1  20171004,29,1
20171004,29,2  20171004,29,2
20171004,28,1  20171004,28,1
20171004,27,1  20171004,27,1
20171004,22,1  20171004,22,1
20171004,22,2  20171004,22,2
20171004,22,3  20171004,22,3
20171004,22,4  20171004,22,4
20171004,22,5  20171004,22,5
20171004,22,6  20171004,22,6

[112 rows x 1 columns]

In [6]:
def compare_df(dfA,dfB):
    """Compare the two indexed Dataframes based on index column values"""
    indexAminusB = (dfA.index.difference(dfB.index))
    indexBminusA = (dfB.index.difference(dfA.index))
    indexIntersect = dfA.index.intersection(dfB.index)

    dfA_minus_dfB = dfA.ix[indexAminusB]
    dfB_minus_dfA = dfB.ix[indexBminusA]
    dfA_Intersect = dfA.ix[indexIntersect]
    dfB_Intersect = dfB.ix[indexIntersect]

    dfA_minus_dfB.sort_index(inplace=True)
    dfB_minus_dfA.sort_index(inplace=True)
    dfA_Intersect.sort_index(inplace=True)
    dfB_Intersect.sort_index(inplace=True)

    return dfA_minus_dfB,dfA_Intersect,dfB_Intersect,dfB_minus_dfA

In [7]:
df_m_minus_df_r, df_m_Intersect, df_r_Intersect, df_r_minus_df_m = compare_df(df_ne, df_empty)

/home/deepakt/Documents/dev/python_dev/py_ve/lib/python2.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
/home/deepakt/Documents/dev/python_dev/py_ve/lib/python2.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [11]:
df_r_minus_df_m

     id
0  None

# Find missing barcodes between files

In [20]:
import pandas as pd
import numpy as np

In [5]:
# read tsv
df_orig = pd.read_table('~/Downloads/MCG_20180429_NonUshertixScansHashed.tsv', names=['unhashed_barcode', 'timestamp', 'barcode'])

In [6]:
df_orig.head()

,unhashed_barcode,timestamp,barcode
0,24023278689720,2018-04-29 05:45:23.613,77659457a0103fee977932efc937c67afb786267
1,99529210374632,2018-04-29 05:56:26.873,6edcb00498f920f4dafb6418a9adbb6923e23ae5
2,4972276057802974,2018-04-29 06:03:01.950,7d7238530444c15a5655b052f4c4072df3a2d9c7
3,24032388264620,2018-04-29 06:03:12.260,5f7887ef791ccd9a0887ffba1fad342ad765be78
4,24122298085302,2018-04-29 06:03:40.917,63b2c8ed9531ef8c23dd0b95bde1e2e6c75c569d

In [7]:
df_athena = pd.read_csv('~/Downloads/dedb0ae7-266e-4c69-bd91-8c904149a3c6.csv')

In [8]:
df_athena.head()

,status,gateno,eventcode,section,barcode,datetime,seat,row
0,0,120,X_STAFF_CONTRACTORS,NaN,7d7238530444c15a5655b052f4c4072df3a2d9c7,2018-04-29T06:03:01.950+10:00,GA,GA
1,0,120,X_STAFF_CATER_G5,NaN,5f7887ef791ccd9a0887ffba1fad342ad765be78,2018-04-29T06:03:12.260+10:00,GA,GA
2,0,120,X_STAFF_CATER_G5,NaN,730db5475aa64adc9ad6185d1bf2feffb5825edc,2018-04-29T09:07:39.413+10:00,GA,GA
3,0,120,X_STAFF_CATER_G5,NaN,98e51363f2ed4a629b844d2b4de29dc0577f9378,2018-04-29T09:08:09.430+10:00,GA,GA
4,0,7,X_STAFF_CONTRACTORS,NaN,05eb11f078617b8735f77a0e707d2c46f28a10eb,2018-04-29T08:13:38.283+10:00,GA,GA

In [14]:
# Only interested in barcode column
df_orig_barcode = df_orig[['barcode']]
df_athena_barcode = df_athena[['barcode']]

In [16]:
df_orig_barcode.count()

barcode    77597
dtype: int64

In [17]:
df_orig_barcode.head()

                                    barcode
0  77659457a0103fee977932efc937c67afb786267
1  6edcb00498f920f4dafb6418a9adbb6923e23ae5
2  7d7238530444c15a5655b052f4c4072df3a2d9c7
3  5f7887ef791ccd9a0887ffba1fad342ad765be78
4  63b2c8ed9531ef8c23dd0b95bde1e2e6c75c569d

In [11]:
df_athena_barcode.head()

                                    barcode
0  7d7238530444c15a5655b052f4c4072df3a2d9c7
1  5f7887ef791ccd9a0887ffba1fad342ad765be78
2  730db5475aa64adc9ad6185d1bf2feffb5825edc
3  98e51363f2ed4a629b844d2b4de29dc0577f9378
4  05eb11f078617b8735f77a0e707d2c46f28a10eb

In [18]:
df_athena_barcode.count()

barcode    76498
dtype: int64

In [32]:
# Remove duplicates
df_orig_barcode_dedupe = df_orig_barcode.drop_duplicates()
df_athena_barcode_dedupe = df_athena_barcode.drop_duplicates()

In [33]:
# Remove duplicates, return numpy array
a_orig_barcode = df_orig_barcode['barcode'].unique()
a_athena_barcode = df_athena_barcode['barcode'].unique()

In [34]:
a_orig_barcode.size

74096

In [35]:
a_athena_barcode.size

53407

In [36]:
# Find Set difference of two arrays
a_missing_barcodes = np.setdiff1d(a_orig_barcode, a_athena_barcode, assume_unique=True)

In [37]:
a_missing_barcodes.size

20695

In [43]:
# Save the result to txt file
np.savetxt('missing_barcodes', a_missing_barcodes, fmt='%s')

# Read json lines from file and convert to dataframe

In [45]:
import pandas as pd
import numpy as np
import json

In [53]:
l_d_attendance = []
with open('/home/deepakt/Downloads/mcg-attendance_20180429051332_00') as fh:
    for line in fh:
        d_attendance = json.loads(line)
        l_d_attendance.append(d_attendance)

In [54]:
len(l_d_attendance)

1000

In [55]:
df_attendance = pd.DataFrame(l_d_attendance)

In [56]:
df_attendance.head()

,barcode,customerId,dateTime,emailAddress,eventCode,firstName,gateNo,lastName,phoneNumber,row,seat,section,status
0,4ca4869285c110aa33242555da9e46ee828484ba,NaN,2018-04-29T15:10:19.940+10:00,NaN,EMCW2018725,NaN,4,NaN,NaN,W,11,SM1,1
1,608b85c12bb3ebb32eda87d18e656e0216f7c842,NaN,2018-04-29T15:10:19.987+10:00,NaN,EMCW2018725,NaN,5,NaN,NaN,F,16,SM13,0
2,0bfc7340615dff3fcae4f7a5c2e80558a6d00046,NaN,2018-04-29T15:10:20.067+10:00,NaN,EAFL2018725,NaN,8,NaN,NaN,J,5,SN24,0
3,ab4964f86726f7d640bf105a3be7a2422ea594a8,NaN,2018-04-29T15:10:20.190+10:00,NaN,EAFL2018725,NaN,6,NaN,NaN,T,9,SM20,0
4,28e3123d772a950edb53642f14fb3d9679d2e132,NaN,2018-04-29T15:10:20.143+10:00,NaN,EMCW2018725,NaN,4,NaN,NaN,GA,GA,SGA,0

In [60]:
# convert dateTime from string to datetime
df_attendance['dateTime'] = pd.to_datetime(df_attendance['dateTime'])

In [61]:
df_attendance.sort_values(['dateTime'], inplace=True)

In [62]:
df_attendance.head()

,barcode,customerId,dateTime,emailAddress,eventCode,firstName,gateNo,lastName,phoneNumber,row,seat,section,status
389,99173af6987b9a864f59678fbe4d99220938b4d5,NaN,2018-04-29 05:10:00.000,NaN,EMCW2018725,NaN,4,NaN,NaN,B,9,SM1,-1
384,e8cf603a6c62cdaa395c5ad1d068f65aa6c53778,NaN,2018-04-29 05:10:00.000,NaN,EMCW2018725,NaN,4,NaN,NaN,GA,GA,SGA,-1
744,b0ab8520ec8bad4ca6f82a1635379f9144daeb7a,NaN,2018-04-29 05:10:00.000,NaN,EMCW2018725,NaN,4,NaN,NaN,FF,13,SM7,-1
0,4ca4869285c110aa33242555da9e46ee828484ba,NaN,2018-04-29 05:10:19.940,NaN,EMCW2018725,NaN,4,NaN,NaN,W,11,SM1,1
1,608b85c12bb3ebb32eda87d18e656e0216f7c842,NaN,2018-04-29 05:10:19.987,NaN,EMCW2018725,NaN,5,NaN,NaN,F,16,SM13,0

In [63]:
df_attendance.tail()

,barcode,customerId,dateTime,emailAddress,eventCode,firstName,gateNo,lastName,phoneNumber,row,seat,section,status
867,f5ead24def7aa7f70972a71bb47646a33a89a5e5,NaN,2018-04-29 05:11:15.743,NaN,X_E8CWRH_A_2018,NaN,3,NaN,NaN,RES,RES,,0
839,7d4fd951ee49cd72224c5e15223d91725284cc1e,NaN,2018-04-29 05:11:15.820,NaN,X_MCC_RESTRICTED,NaN,2,NaN,NaN,GA,GA,,0
597,a2a7b8fceb25789aab4a9385fb351c9ac6121078,NaN,2018-04-29 05:11:15.837,NaN,X_MCC_RESTRICTED,NaN,2,NaN,NaN,GA,GA,,10
575,83bf05aaed369288635f7de682c1e13c09d30723,NaN,2018-04-29 05:11:15.883,NaN,EAFL2018725,NaN,6,NaN,NaN,A,3,SP20,0
987,4d3eff411a2784140b34a46b55401b56c8ec8dc3,NaN,2018-04-29 05:11:15.930,NaN,X_E8CWRHA4_T_2018,NaN,5,NaN,NaN,RES,RES,,10

In [64]:
df_attendance.dateTime.describe()

count                           1000
unique                           995
top              2018-04-29 05:11:00
freq                               4
first            2018-04-29 05:10:00
last      2018-04-29 05:11:15.930000
Name: dateTime, dtype: object

# Read CSV file and create summary

In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('dataIn/Redshift-Vaccume-summary.csv')

In [19]:
df.head()

,userid,xid,database_name,table_id,tablename,vac_start_status,vac_end_status,vac_start_time,vac_end_time,vac_duration_secs,vac_start_rows,vac_end_rows,vac_deleted_rows,vac_start_sorted_rows,vac_end_sorted_rows,vac_start_blocks,vac_end_blocks,vac_block_diff,empty_blk_cnt
0,100,46004653,ticketekau,2778804,productitems_selectionoptions,Started Reindex,Finished,2018-01-23 14:00:48.919418,2018-01-23 14:01:54.741685,66.0,4800,4772.0,28.0,4792,4772.0,2624,2688.0,64.0,1200
1,100,46004717,ticketekau,2778788,payment,Started Reindex,Finished,2018-01-23 14:01:57.503094,2018-01-23 14:14:12.914809,735.0,29293660,29293660.0,0.0,29276831,29293660.0,15590,15595.0,5.0,0
2,100,46005042,ticketekau,2778818,seatrequests_selectionoptions,Started Reindex,Finished,2018-01-23 14:14:15.849033,2018-01-23 14:15:12.733135,57.0,279355,279355.0,0.0,279306,279355.0,2112,2176.0,64.0,1024
3,100,46005105,ticketekau,2778800,productitems_organisations,Started Reindex,Finished,2018-01-23 14:15:15.805585,2018-01-23 14:15:48.588682,33.0,6868,6820.0,48.0,6855,6820.0,2112,2176.0,64.0,976
4,100,46005112,ticketekau,2778764,orderlineitempackagesext_packages,Started Reindex,Finished,2018-01-23 14:15:51.240081,2018-01-23 14:17:41.765541,110.0,3202,3202.0,0.0,3202,3202.0,6144,6144.0,0.0,3072

In [20]:
df['vac_duration_mins'] = df['vac_duration_secs']/60

In [33]:
df = df[df['vac_start_status'] == 'Started Reindex']

In [34]:
df.head()

,userid,xid,database_name,table_id,tablename,vac_start_status,vac_end_status,vac_start_time,vac_end_time,vac_duration_secs,vac_start_rows,vac_end_rows,vac_deleted_rows,vac_start_sorted_rows,vac_end_sorted_rows,vac_start_blocks,vac_end_blocks,vac_block_diff,empty_blk_cnt,vac_duration_mins
0,100,46004653,ticketekau,2778804,productitems_selectionoptions,Started Reindex,Finished,2018-01-23 14:00:48.919418,2018-01-23 14:01:54.741685,66.0,4800,4772.0,28.0,4792,4772.0,2624,2688.0,64.0,1200,1.100000
1,100,46004717,ticketekau,2778788,payment,Started Reindex,Finished,2018-01-23 14:01:57.503094,2018-01-23 14:14:12.914809,735.0,29293660,29293660.0,0.0,29276831,29293660.0,15590,15595.0,5.0,0,12.250000
2,100,46005042,ticketekau,2778818,seatrequests_selectionoptions,Started Reindex,Finished,2018-01-23 14:14:15.849033,2018-01-23 14:15:12.733135,57.0,279355,279355.0,0.0,279306,279355.0,2112,2176.0,64.0,1024,0.950000
3,100,46005105,ticketekau,2778800,productitems_organisations,Started Reindex,Finished,2018-01-23 14:15:15.805585,2018-01-23 14:15:48.588682,33.0,6868,6820.0,48.0,6855,6820.0,2112,2176.0,64.0,976,0.550000
4,100,46005112,ticketekau,2778764,orderlineitempackagesext_packages,Started Reindex,Finished,2018-01-23 14:15:51.240081,2018-01-23 14:17:41.765541,110.0,3202,3202.0,0.0,3202,3202.0,6144,6144.0,0.0,3072,1.833333

In [35]:
df_small = df[['tablename', 'vac_duration_mins', 'vac_end_rows']]

In [36]:
df_small.head()

                           tablename  vac_duration_mins  vac_end_rows
0      productitems_selectionoptions           1.100000        4772.0
1                            payment          12.250000    29293660.0
2      seatrequests_selectionoptions           0.950000      279355.0
3         productitems_organisations           0.550000        6820.0
4  orderlineitempackagesext_packages           1.833333        3202.0

### https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [37]:
gb_summary = df_small.groupby(['tablename'])

In [38]:
gb_summary.groups.keys()

['pptsalesdistribution_config',
 'customerextended_test',
 'placeprompermission',
 'show',
 'tbloriginaccount',
 'tblphonetype',
 'renewalinfo',
 'productitems_tags',
 'orderlineitemseatsext',
 'backup_placeprompermission',
 'payment',
 'orders_orderlineitems_tickets',
 'seatrequests',
 'orders',
 'productitems_pricecategorymapping',
 'member',
 'productitems_availabletypes',
 'orderlineitemseatsext_seats',
 'orders_orderlineitems_fees',
 'performance_belongstocategories',
 'failedpayments',
 'productitems_offercodemapping',
 'seller',
 'productitems_categorymapping',
 'originreference',
 'seatrequests_seatspreferences_specialrequirements',
 'customerextended_diff_xdel',
 'performance',
 'orderlineitempackagesext_packages',
 'seatrequests_selectionoptions',
 'marketingtype',
 'productitems_specialrequirementsoptions',
 'productitems_from',
 'tblcustomerphone',
 'tblorganisation',
 'productitems_selectionoptions_productdetails',
 'void',
 'productitems_selectionoptions',
 'tblcustomeraddress',
 'orderlineitemfulfilmentstatus',
 'productitems_pricetypemapping',
 'tbladdresstype',
 'entitlementusage',
 'tbladdress',
 'orders_orderlineitems',
 'orderlinepayment',
 'productitems_organisations',
 'productitems_instalmentplans_instalmentdates',
 'tblcustomer',
 'tblphone',
 'seatrequests_selectionoptions_seats',
 'customerextended',
 'orderlineitempackagesext',
 'productitems',
 'productitems_parentids',
 'venue',
 'seatconfiguration',
 'productitems_instalmentplans',
 'performance_belongstoshows',
 'tblcustomerlist',
 'seatrequests_seatspreferences']

In [39]:
gb_summary.groups['orders_orderlineitems']

Int64Index([59, 183, 299, 459, 628, 790, 913, 1089, 1191, 1379, 1518, 1641,
            1818],
           dtype='int64')

In [40]:
gb_summary.first()

,vac_duration_mins,vac_end_rows
tablename,,
backup_placeprompermission,0.933333,2700111.0
customerextended,13.050000,28992781.0
customerextended_diff_xdel,1.833333,510097.0
customerextended_test,1.000000,83724.0
entitlementusage,1.266667,203156.0
failedpayments,0.783333,25250.0
marketingtype,0.533333,454.0
member,6.750000,66080842.0
orderlineitemfulfilmentstatus,1.850000,4294094.0
orderlineitempackagesext,0.966667,2008.0
orderlineitempackagesext_packages,1.833333,3202.0
orderlineitemseatsext,0.700000,5659.0
orderlineitemseatsext_seats,1.616667,9276.0
orderlinepayment,3.116667,12644792.0
orders,7.916667,14532963.0
orders_orderlineitems,50.816667,57093358.0
orders_orderlineitems_fees,107.216667,94356725.0
orders_orderlineitems_tickets,100.916667,57979888.0
originreference,1.233333,21933355.0
payment,12.250000,29293660.0
performance,2.083333,225861.0
performance_belongstocategories,0.783333,805799.0
performance_belongstoshows,0.766667,903530.0
placeprompermission,0.583333,2836631.0
pptsalesdistribution_config,0.583333,89110.0
productitems,1.866667,8808.0
productitems_availabletypes,0.550000,11752.0
productitems_categorymapping,0.133333,1113.0
productitems_from,0.483333,3691.0
productitems_instalmentplans,0.566667,2158.0
...,...,...
productitems_offercodemapping,0.583333,667.0
productitems_organisations,0.550000,6820.0
productitems_parentids,0.500000,170998.0
productitems_pricecategorymapping,0.116667,226.0
productitems_pricetypemapping,0.133333,6455.0
productitems_selectionoptions,1.100000,4772.0
productitems_selectionoptions_productdetails,0.733333,41753.0
productitems_specialrequirementsoptions,0.133333,9588.0
productitems_tags,0.150000,6233.0
renewalinfo,1.266667,910575.0
seatconfiguration,5.400000,37014934.0
seatrequests,1.200000,1331639.0
seatrequests_seatspreferences,2.050000,2442803.0
seatrequests_seatspreferences_specialrequirements,0.983333,8689.0
seatrequests_selectionoptions,0.950000,279355.0
seatrequests_selectionoptions_seats,1.033333,99450.0
seller,1.116667,9319.0
show,1.100000,71221.0
tbladdress,2.866667,24983234.0
tbladdresstype,0.716667,8.0
tblcustomer,7.016667,29847942.0
tblcustomeraddress,1.516667,21591590.0
tblcustomerlist,0.716667,97.0
tblcustomerphone,1.800000,34757000.0
tblorganisation,0.650000,263.0
tbloriginaccount,2.666667,27382218.0
tblphone,2.216667,35656795.0
tblphonetype,0.416667,8.0
venue,0.733333,2899.0
void,0.600000,16366.0

In [42]:
df_summary = gb_summary.agg({'vac_duration_mins': 'mean', 'vac_end_rows': 'mean'})

In [43]:
df_summary.head()

                            vac_end_rows  vac_duration_mins
tablename
backup_placeprompermission  2.700111e+06           0.520513
customerextended            2.928323e+07           8.071795
customerextended_diff_xdel  5.100970e+05           0.494872
customerextended_test       8.372400e+04           0.537179
entitlementusage            2.031560e+05           0.484615

In [44]:
df_summary.sort_values(by=['vac_duration_mins'], ascending=False)

,vac_end_rows,vac_duration_mins
tablename,,
orders_orderlineitems_fees,9.808381e+07,116.052564
orders_orderlineitems_tickets,6.030378e+07,106.158974
orders_orderlineitems,5.934441e+07,51.757692
payment,2.956884e+07,12.003846
orders,1.499469e+07,8.597436
customerextended,2.928323e+07,8.071795
member,6.609301e+07,6.721795
seatconfiguration,3.704087e+07,5.070513
tblcustomer,2.984794e+07,4.828205
orderlinepayment,1.304971e+07,2.865385
tbladdress,2.498323e+07,2.517949
tbloriginaccount,2.751846e+07,2.226923
tblcustomerphone,3.475700e+07,1.398718
orderlineitemfulfilmentstatus,4.404892e+06,1.300000
tblphone,3.565680e+07,1.253846
seatrequests_seatspreferences,2.468322e+06,1.098718
originreference,2.221150e+07,0.965385
tblcustomeraddress,2.159159e+07,0.939744
performance,2.270053e+05,0.930769
renewalinfo,9.274118e+05,0.739744
seatrequests,1.349008e+06,0.729487
orderlineitempackagesext_packages,3.202000e+03,0.716667
orderlineitemseatsext_seats,9.276000e+03,0.650000
placeprompermission,2.837171e+06,0.560256
customerextended_test,8.372400e+04,0.537179
backup_placeprompermission,2.700111e+06,0.520513
customerextended_diff_xdel,5.100970e+05,0.494872
entitlementusage,2.031560e+05,0.484615
productitems,9.089077e+03,0.467949
performance_belongstocategories,8.091375e+05,0.429487
...,...,...
performance_belongstoshows,9.081072e+05,0.401282
seller,9.342846e+03,0.392308
seatrequests_selectionoptions,2.798105e+05,0.369231
productitems_organisations,7.073692e+03,0.347436
show,7.122100e+04,0.339744
tblcustomerlist,9.707692e+01,0.334615
seatrequests_seatspreferences_specialrequirements,8.708000e+03,0.330769
tblorganisation,2.640769e+02,0.321795
orderlineitempackagesext,2.008000e+03,0.320513
failedpayments,2.525000e+04,0.308974
productitems_selectionoptions,4.914846e+03,0.308974
productitems_selectionoptions_productdetails,4.321346e+04,0.298718
venue,2.903385e+03,0.293590
orderlineitemseatsext,5.659000e+03,0.265385
productitems_parentids,1.761591e+05,0.248718
void,1.649146e+04,0.238462
tbladdresstype,8.000000e+00,0.224359
productitems_from,3.691000e+03,0.208974
productitems_instalmentplans,2.158000e+03,0.194872
productitems_instalmentplans_instalmentdates,2.136900e+04,0.184615
pptsalesdistribution_config,8.911000e+04,0.184615
productitems_categorymapping,1.113000e+03,0.182051
productitems_offercodemapping,6.670000e+02,0.176923
productitems_availabletypes,1.175200e+04,0.174359
tblphonetype,8.000000e+00,0.174359
productitems_pricetypemapping,6.455000e+03,0.170513
marketingtype,4.540000e+02,0.150000
productitems_tags,6.233000e+03,0.129487
productitems_pricecategorymapping,2.260000e+02,0.128205
productitems_specialrequirementsoptions,9.588000e+03,0.124359

In [46]:
df_summary.sort_values(by=['vac_duration_mins'], ascending=False).round({'vac_end_rows': 0, 'vac_duration_mins': 2}).to_csv('dataOut/vacuum-summary.csv')