In [1]:
import pandas as pd
from pandas.core.frame import DataFrame

In [4]:
# Creating df from an empty l_d
# l_d_empty = []
l_d_empty = [{'id': None}]
df_empty = pd.DataFrame(l_d_empty)

In [9]:
df_empty

     id
0  None

In [10]:
df_empty1 = DataFrame(l_d_empty)

In [11]:
df_empty1

     id
0  None

In [12]:
df_empty['indexcol'] = df_empty['id']

In [13]:
df_empty1['indexcol'] = df_empty1['id']

In [14]:
df_empty

     id indexcol
0  None     None

In [15]:
df_empty1

     id indexcol
0  None     None

In [16]:
df_empty.set_index('indexcol', inplace=True)

In [17]:
df_empty1.set_index('indexcol', inplace=True)

In [18]:
df_empty

            id
indexcol
NaN       None

In [19]:
df_empty1

            id
indexcol
NaN       None

In [3]:
l_d_ne = [{'id': u'20171005,43,1'}, {'id': u'20171005,36,1'}, {'id': u'20171005,36,2'}, {'id': u'20171005,36,3'}, {'id': u'20171005,36,4'}, {'id': u'20171005,36,5'}, {'id': u'20171005,30,1'}, {'id': u'20171005,30,2'}, {'id': u'20171005,30,3'}, {'id': u'20171005,30,4'}, {'id': u'20171005,30,5'}, {'id': u'20171005,30,6'}, {'id': u'20171005,30,7'}, {'id': u'20171005,29,1'}, {'id': u'20171005,29,2'}, {'id': u'20171005,25,1'}, {'id': u'20171005,25,2'}, {'id': u'20171005,25,3'}, {'id': u'20171005,25,4'}, {'id': u'20171005,25,5'}, {'id': u'20171005,20,1'}, {'id': u'20171005,20,2'}, {'id': u'20171005,20,3'}, {'id': u'20171005,20,4'}, {'id': u'20171005,20,5'}, {'id': u'20171005,20,6'}, {'id': u'20171005,19,1'}, {'id': u'20171005,18,1'}, {'id': u'20171005,15,1'}, {'id': u'20171005,15,2'}, {'id': u'20171005,15,3'}, {'id': u'20171005,3,1'}, {'id': u'20171005,3,2'}, {'id': u'20171005,3,3'}, {'id': u'20171005,3,4'}, {'id': u'20171005,3,5'}, {'id': u'20171005,3,6'}, {'id': u'20171005,3,7'}, {'id': u'20171005,1,1'}, {'id': u'20171005,1,2'}, {'id': u'20171004,117,2'}, {'id': u'20171004,117,3'}, {'id': u'20171004,117,4'}, {'id': u'20171004,117,5'}, {'id': u'20171004,117,6'}, {'id': u'20171004,117,7'}, {'id': u'20171004,117,8'}, {'id': u'20171004,117,9'}, {'id': u'20171004,117,10'}, {'id': u'20171004,117,11'}, {'id': u'20171004,117,12'}, {'id': u'20171004,117,13'}, {'id': u'20171004,117,14'}, {'id': u'20171004,117,15'}, {'id': u'20171004,117,1'}, {'id': u'20171004,117,16'}, {'id': u'20171004,116,1'}, {'id': u'20171004,115,1'}, {'id': u'20171004,114,1'}, {'id': u'20171004,113,1'}, {'id': u'20171004,112,1'}, {'id': u'20171004,111,1'}, {'id': u'20171004,110,1'}, {'id': u'20171004,109,1'}, {'id': u'20171004,108,1'}, {'id': u'20171004,107,1'}, {'id': u'20171004,106,1'}, {'id': u'20171004,105,1'}, {'id': u'20171004,104,1'}, {'id': u'20171004,103,1'}, {'id': u'20171004,59,1'}, {'id': u'20171004,59,2'}, {'id': u'20171004,59,3'}, {'id': u'20171004,59,4'}, {'id': u'20171004,59,5'}, {'id': u'20171004,58,1'}, {'id': u'20171004,58,2'}, {'id': u'20171004,50,1'}, {'id': u'20171004,50,2'}, {'id': u'20171004,50,3'}, {'id': u'20171004,49,1'}, {'id': u'20171004,49,2'}, {'id': u'20171004,46,1'}, {'id': u'20171004,46,2'}, {'id': u'20171004,45,1'}, {'id': u'20171004,45,2'}, {'id': u'20171004,40,1'}, {'id': u'20171004,40,2'}, {'id': u'20171004,40,3'}, {'id': u'20171004,40,4'}, {'id': u'20171004,40,5'}, {'id': u'20171004,35,1'}, {'id': u'20171004,35,2'}, {'id': u'20171004,35,3'}, {'id': u'20171004,35,4'}, {'id': u'20171004,35,5'}, {'id': u'20171004,34,1'}, {'id': u'20171004,34,2'}, {'id': u'20171004,33,1'}, {'id': u'20171004,33,2'}, {'id': u'20171004,32,1'}, {'id': u'20171004,32,2'}, {'id': u'20171004,29,1'}, {'id': u'20171004,29,2'}, {'id': u'20171004,28,1'}, {'id': u'20171004,27,1'}, {'id': u'20171004,22,1'}, {'id': u'20171004,22,2'}, {'id': u'20171004,22,3'}, {'id': u'20171004,22,4'}, {'id': u'20171004,22,5'}, {'id': u'20171004,22,6'}]
df_ne = DataFrame(l_d_ne)
df_ne

                id
0    20171005,43,1
1    20171005,36,1
2    20171005,36,2
3    20171005,36,3
4    20171005,36,4
5    20171005,36,5
6    20171005,30,1
7    20171005,30,2
8    20171005,30,3
9    20171005,30,4
10   20171005,30,5
11   20171005,30,6
12   20171005,30,7
13   20171005,29,1
14   20171005,29,2
15   20171005,25,1
16   20171005,25,2
17   20171005,25,3
18   20171005,25,4
19   20171005,25,5
20   20171005,20,1
21   20171005,20,2
22   20171005,20,3
23   20171005,20,4
24   20171005,20,5
25   20171005,20,6
26   20171005,19,1
27   20171005,18,1
28   20171005,15,1
29   20171005,15,2
..             ...
82   20171004,46,1
83   20171004,46,2
84   20171004,45,1
85   20171004,45,2
86   20171004,40,1
87   20171004,40,2
88   20171004,40,3
89   20171004,40,4
90   20171004,40,5
91   20171004,35,1
92   20171004,35,2
93   20171004,35,3
94   20171004,35,4
95   20171004,35,5
96   20171004,34,1
97   20171004,34,2
98   20171004,33,1
99   20171004,33,2
100  20171004,32,1
101  20171004,32,2
102  20171004,29,1
103  20171004,29,2
104  20171004,28,1
105  20171004,27,1
106  20171004,22,1
107  20171004,22,2
108  20171004,22,3
109  20171004,22,4
110  20171004,22,5
111  20171004,22,6

[112 rows x 1 columns]

In [5]:
df_ne['indexcol'] = df_ne['id']
df_ne.set_index('indexcol', inplace=True)
df_ne

                          id
indexcol
20171005,43,1  20171005,43,1
20171005,36,1  20171005,36,1
20171005,36,2  20171005,36,2
20171005,36,3  20171005,36,3
20171005,36,4  20171005,36,4
20171005,36,5  20171005,36,5
20171005,30,1  20171005,30,1
20171005,30,2  20171005,30,2
20171005,30,3  20171005,30,3
20171005,30,4  20171005,30,4
20171005,30,5  20171005,30,5
20171005,30,6  20171005,30,6
20171005,30,7  20171005,30,7
20171005,29,1  20171005,29,1
20171005,29,2  20171005,29,2
20171005,25,1  20171005,25,1
20171005,25,2  20171005,25,2
20171005,25,3  20171005,25,3
20171005,25,4  20171005,25,4
20171005,25,5  20171005,25,5
20171005,20,1  20171005,20,1
20171005,20,2  20171005,20,2
20171005,20,3  20171005,20,3
20171005,20,4  20171005,20,4
20171005,20,5  20171005,20,5
20171005,20,6  20171005,20,6
20171005,19,1  20171005,19,1
20171005,18,1  20171005,18,1
20171005,15,1  20171005,15,1
20171005,15,2  20171005,15,2
...                      ...
20171004,46,1  20171004,46,1
20171004,46,2  20171004,46,2
20171004,45,1  20171004,45,1
20171004,45,2  20171004,45,2
20171004,40,1  20171004,40,1
20171004,40,2  20171004,40,2
20171004,40,3  20171004,40,3
20171004,40,4  20171004,40,4
20171004,40,5  20171004,40,5
20171004,35,1  20171004,35,1
20171004,35,2  20171004,35,2
20171004,35,3  20171004,35,3
20171004,35,4  20171004,35,4
20171004,35,5  20171004,35,5
20171004,34,1  20171004,34,1
20171004,34,2  20171004,34,2
20171004,33,1  20171004,33,1
20171004,33,2  20171004,33,2
20171004,32,1  20171004,32,1
20171004,32,2  20171004,32,2
20171004,29,1  20171004,29,1
20171004,29,2  20171004,29,2
20171004,28,1  20171004,28,1
20171004,27,1  20171004,27,1
20171004,22,1  20171004,22,1
20171004,22,2  20171004,22,2
20171004,22,3  20171004,22,3
20171004,22,4  20171004,22,4
20171004,22,5  20171004,22,5
20171004,22,6  20171004,22,6

[112 rows x 1 columns]

In [6]:
def compare_df(dfA,dfB):
    """Compare the two indexed Dataframes based on index column values"""
    indexAminusB = (dfA.index.difference(dfB.index))
    indexBminusA = (dfB.index.difference(dfA.index))
    indexIntersect = dfA.index.intersection(dfB.index)

    dfA_minus_dfB = dfA.ix[indexAminusB]
    dfB_minus_dfA = dfB.ix[indexBminusA]
    dfA_Intersect = dfA.ix[indexIntersect]
    dfB_Intersect = dfB.ix[indexIntersect]

    dfA_minus_dfB.sort_index(inplace=True)
    dfB_minus_dfA.sort_index(inplace=True)
    dfA_Intersect.sort_index(inplace=True)
    dfB_Intersect.sort_index(inplace=True)

    return dfA_minus_dfB,dfA_Intersect,dfB_Intersect,dfB_minus_dfA

In [7]:
df_m_minus_df_r, df_m_Intersect, df_r_Intersect, df_r_minus_df_m = compare_df(df_ne, df_empty)

/home/deepakt/Documents/dev/python_dev/py_ve/lib/python2.7/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
/home/deepakt/Documents/dev/python_dev/py_ve/lib/python2.7/site-packages/ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [11]:
df_r_minus_df_m

     id
0  None